<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %> 
    <!-- error messages -->
    <%- include('../partials/errorMessage.ejs') %> 

    <!-- everything in this file will show 
        on every page. The body tage below
        allows the view to change -->
    <%- body %> 

    <!-- footer -->
</body>
</html>