<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    before
    <br />
    <!-- everything in this file will show 
        on every page. The body tage below
        allows the view to change -->
    <%- body %> 
    <br />
    after
</body>
</html>